Repository waijean/nlp_news: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, nbstripout

black:
  name: black
  entry: black
  stages:
  - commit
  language: system

mypy:
  name: mypy
  stages:
  - commit
  entry: mypy
  language: system

nbstripout:
  name: nbstripout
  entry: nbstripout
  language: system

add shell script to remove blank lines
  data_pipeline/process_csv.sh
Due: none

add inserting header row
  data_pipeline/process_csv.sh
Due: none

update documentation
  README.md
Due: none

add partition news
  data_pipeline/partition_news.py
  utils/constants.py
  web_scraping/scrape_news.py
  web_scraping/scrape_price.py
Due: black, mypy

add logs to git ignore file
  .gitignore
Due: none

add notebooks for EDA
  notebooks/EDA_news.ipynb
  notebooks/EDA_price.ipynb
Due: nbstripout

edit requirement
  requirements.txt
Due: none

add partition_news to coverage config
  .coveragerc
Due: none

exclude partition_news
  .coveragerc
Due: none

Feature/truncate news archive (#6)
  .coveragerc
  .gitignore
  README.md
  data_pipeline/partition_news.py
  data_pipeline/process_csv.sh
  notebooks/EDA_news.ipynb
  notebooks/EDA_price.ipynb
  requirements.txt
  utils/constants.py
  web_scraping/scrape_news.py
  web_scraping/scrape_price.py
Due: black, mypy, nbstripout

update README
  README.md
Due: none

add nltk to requirement
  .github/workflows/pythonapp.yml
  requirements.txt
  tests/data_cleaning/test_clean.py
Due: black, mypy

Feature/update readme (#7)
  .github/workflows/pythonapp.yml
  README.md
  requirements.txt
  tests/data_cleaning/test_clean.py
Due: black, mypy

edit docstring
  data_cleaning/clean_news.py
  data_pipeline/partition_news.py
Due: black, mypy

add clean news
  data_cleaning/clean_news.py
  tests/conftest.py
  tests/data_cleaning/__init__.py
  tests/data_cleaning/test_clean.py
  tests/data_cleaning/test_clean_news.py
Due: black, mypy

edit docstring
  data_cleaning/clean_news.py
Due: black, mypy

Feature/data cleaning (#8)
  data_cleaning/clean_news.py
  data_pipeline/partition_news.py
  tests/conftest.py
  tests/data_cleaning/__init__.py
  tests/data_cleaning/test_clean.py
  tests/data_cleaning/test_clean_news.py
Due: black, mypy

add normalize file
  .coveragerc
  data_cleaning/normalize.py
  tests/conftest.py
  tests/data_cleaning/test_normalize.py
Due: black, mypy

update readme
  README.md
Due: none

Feature/stem lemmatize (#9)
  .coveragerc
  README.md
  data_cleaning/normalize.py
  tests/conftest.py
  tests/data_cleaning/test_normalize.py
Due: black, mypy

add scikit-learn to env
  requirements.txt
Due: none

add vectorize
  .coveragerc
  data_preprocessing/vectorize.py
  tests/conftest.py
  tests/data_preprocessing/__init__.py
  tests/data_preprocessing/test_vectorize.py
Due: black, mypy

Feature/vectorizing (#10)
  .coveragerc
  data_preprocessing/vectorize.py
  requirements.txt
  tests/conftest.py
  tests/data_preprocessing/__init__.py
  tests/data_preprocessing/test_vectorize.py
Due: black, mypy

add textblob
  .github/workflows/pythonapp.yml
  requirements.txt
Due: none

add steps to move start of csv_04 to end of csv_03
  data_pipeline/process_csv.sh
Due: none

refactor drop_null_section
  data_pipeline/partition_news.py
  data_pipeline/process_csv.py
Due: black, mypy

add process csv python file
  data_pipeline/process_csv.py
  utils/constants.py
Due: black, mypy

update readme data pipeline part
  README.md
Due: none

Feature/process csv (#11)
  .github/workflows/pythonapp.yml
  README.md
  data_pipeline/partition_news.py
  data_pipeline/process_csv.py
  data_pipeline/process_csv.sh
  requirements.txt
  utils/constants.py
Due: black, mypy

add sentiment
  data_preprocessing/sentiment.py
  tests/data_preprocessing/test_sentiment.py
Due: black, mypy

refactor dir name
  data_pipeline/process_csv.sh
  utils/constants.py
Due: black, mypy

modify pipeline to filter sections
  data_pipeline/partition_news.py
  data_pipeline/process_csv.py
  utils/constants.py
Due: black, mypy

git ignore data files
  .gitignore
Due: none

rename files
  data_pipeline/process_news_csv.py
  data_pipeline/process_news_csv.sh
Due: black, mypy

add data preprocessing runner
  data_preprocessing/preprocessing_runner.py
  data_preprocessing/sentiment.py
Due: black, mypy

add process price csv
  data_pipeline/process_price_csv.py
  tests/conftest.py
  tests/data_pipeline/__init__.py
  tests/data_pipeline/test_process_price_csv.py
  utils/constants.py
Due: black, mypy

edit price notebook
  notebooks/EDA_price.ipynb
Due: nbstripout

add data pipeline version
  data_pipeline/process_news_csv.py
  data_preprocessing/preprocessing_runner.py
  utils/constants.py
  utils/pipeline_abc.py
Due: black, mypy

refactor preprocessing to use interface
  data_pipeline/process_news_csv.py
  data_preprocessing/preprocessing_runner.py
Due: black, mypy

Path conditions:
  black: any of: \.py$
  mypy: any of: \.py$
  nbstripout: any of: .ipynb
