Repository waijean/nlp_news: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, nbstripout

black:
  name: black
  entry: black
  language: system

nbstripout:
  name: nbstripout
  entry: nbstripout
  language: system

add tests files
  .gitignore
  README.md
  tests/conftest.py
  tests/test_scrape.py
  utils/constants.py
Due: black

add scrape file
  web_scraping/scrape.py
Due: black

add first data
  web_scraping/data/20200501T081518_data_v1.parquet
Due: none

fix pytest
  requirements.txt
  tests/__init__.py
  web_scraping/scrape_price.py
Due: black

add mypy to pre-commit
  .gitignore
  .pre-commit-config.yaml
  mypy.ini
  requirements.txt
Due: none

add pytest coverage
  .coveragerc
  .gitignore
  requirements.txt
Due: none

Create pythonapp.yml
  .github/workflows/pythonapp.yml
Due: none

edit workflow file
  .github/workflows/pythonapp.yml
Due: none

Create pythonapp.yml (#3)
  .github/workflows/pythonapp.yml
Due: none

add logging time decorator
  utils/decorator.py
  web_scraping/validator.py
Due: black

add logging config file
  utils/constants.py
  utils/logging.conf
Due: black

create add df info to logger function
  utils/helper.py
  utils/logging.conf
  web_scraping/scrape_news.py
  web_scraping/scrape_price.py
Due: black

add scrape_price module
  web_scraping/data/20200504_price_v1.parquet
  web_scraping/scrape_price.py
  web_scraping/validator.py
Due: black

add test for validator
  tests/conftest.py
  tests/test_scrape.py
  tests/test_validator.py
Due: black

refactor directory
  tests/web_scraping/__init__.py
  tests/web_scraping/test_clean_price.py
  tests/web_scraping/test_scrape.py
  web_scraping/clean_price.py
  web_scraping/scrape_price.py
Due: black

harden path
  requirements.txt
  utils/constants.py
  web_scraping/scrape_news.py
  web_scraping/scrape_price.py
Due: black

remove file handler
  utils/logging.conf
Due: none

add tests for scrape_price
  .coveragerc
  .github/workflows/pythonapp.yml
  tests/web_scraping/test_scrape_news.py
  tests/web_scraping/test_scrape_price.py
  web_scraping/scrape_news.py
  web_scraping/scrape_price.py
  web_scraping/web_url.py
Due: black

update README.md
  README.md
Due: none

add ipykernel and plotly package
  requirements.txt
Due: none

add large data files to git ignore
  README.md
Due: none

add nb_black
  requirements.txt
Due: none

add scipy package for plotly
  requirements.txt
Due: none

edit gitignore
  .gitignore
Due: none

add EDA_price
  .gitignore
  notebooks/EDA_price.ipynb
Due: nbstripout

Feature/get news archive (#5)
  .gitignore
  README.md
  notebooks/EDA_price.ipynb
  requirements.txt
Due: nbstripout

install dask
  requirements.txt
Due: none

add dask dataframe dependencies
  requirements.txt
Due: none

add dask distributed
  requirements.txt
Due: none

add dask worker space to gitignore
  .gitignore
Due: none

Path conditions:
  black: any of: \.py$
  nbstripout: any of: .ipynb
